name: Build

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 15
      - run: yarn install --ignore-script --frozen-lockfile
      - run: yarn run typecheck
      - run: yarn run lint
      - run: yarn run test
      - run: yarn run release-build:remote
      - run: yarn run release-build:coc
      - run: yarn run release-build:rpc
