name: Release remote plugin

on:
  workflow_run:
    workflows:
      - Can release
    branches:
      - main
    types:
      - completed

jobs:
  release:
    name: Release remote plugin
    if: github.event.workflow_run.conclusion == 'success'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v1
        with:
          node-version: 15
      - run: |
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"
      - run: git checkout release/remote
      - run: git merge main
      - run: yarn install --ignore-script --frozen-lockfile
      - run: yarn run release-build:remote
      - run: git add --all
      - run: git commit -m "Release $(yarn run --silent print-version)" --allow-empty
      - run: git push origin release/remote
